.yellow_deepskyblue_box{
  border-width: 10px;
  border-color: deepskyblue;
  border-style: solid;
  margin-top: -10px;
}

.yellow{
        border-color: yellow;
        border-style: solid;
        border-width: 3px"
}
